/* import for font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #f7f7f7;
    --main-accent-color: #88BC6B;
    --main-text-color: #000000;
    --secondary-text-color: #ffffff;

    --test-color: #ffcc00;
    --test-color2: #18A4E0;

}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    height: 100%;
}

/* 
========================================
Navigation
========================================
*/

body>header {
    /* background-color: #ffcc00; */
    background-color: var(--main-accent-color);
}

body>header>nav {
    display: flex;
    flex-wrap: wrap;
}

nav .logo {
    padding: 3vh 2vw 2vh 2vw;
    /* flex-grow: 9999; */
    flex-grow: 6;

    background-color: var(--main-accent-color);
    /* background-color: #ffcc00; */

    font-size: 1.75em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: var(--main-text-color);
    white-space: nowrap;
}

@media (min-width:32em) {
    nav .logo {
        padding-left: calc(2vw + 2em);
        text-align: left;
    }
}

body>header>nav ul {
    /* flex-grow: 1; */
    flex-grow: 4;

    /* background-color: var(--test-color2); */

    padding-right: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    /* padding: 2vw 1vh; */
    /* padding: 4vh 4vw;
    margin: 0 1vw 0 1vw; */
    display: inline-block;
    list-style-type: none;

    /* debug colour */
    /* background-color: var(--main-accent-color); */
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-text-color);

    display: block;
    padding: 2vh 2vw;
    margin: 0 1vw 0 1vw;
}

nav ul li:hover {

    background-color: #ffffff50;
}

nav>select option {
    color: var(--secondary-text-color);
}

@media (-moz-touch-enabled) {
    nav>select option {
        color: var(--secondary-text-color);
    }

}

@media only screen and (max-width: 40em) {
    nav ul li {
        padding: 2vw 1vh;
    }

    nav ul li a{
        padding: 1vh 1vw;
    }
}

/* Mediaquery vanaf 816 */
@media only screen and (max-width: 65em) {
    body {
        /* background-color: var(--main-accent-color); */
    }


    nav ul li a{
        padding: 1vh 1vw;
    }
}

/* 
========================================
RESPONSIVE NAVIGATION (COLLAPSE)
========================================
*/
@media only screen and (max-width: 525px) {
    body header nav ul {
        /* padding: 0.5em; */
        flex-direction: column;

        
    }

    body header nav ul li a {
        width: 100vw;
        padding: 0.5em;
    }

    header nav ul select{
        display: none;
    }
}



/* 
========================================
HEADER IMAGE
========================================
*/
.hero-image {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-image.jpg");  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35)), url("../images/zoomBasisRouteJPEG.jpeg");
    /* transform: scale(1.5); */
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main>header>.hero-image h1 {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@media only screen and (max-width: 320px){
    .hero-text h1{
        padding-top: 35vh;
    }
}

/* 
========================================
ARRANGEMENTEN SECTION
========================================
*/
main>section {
    /* padding: 2vh 2vw 2vh calc(2em + 2vw); grid-template-rows: 10% 1fr 1fr; */
    padding: calc(2em + 2vw) 2vw 2vh 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em 2em;

}

main>section>header {
    /* grid-column: 1 / span 3; display: inline-block; */
    grid-column: 1 / span 3;
    height: 5em;

}

main section header > h2{
    font-size: 2em;
}

main>section>article {
    height: 20em;
    /* background-color: var(--test-color); */
    box-shadow: 0.025vh 0.025vw 10px 3px #022e1825;
    object-fit: scale-down;
}

.category-1 {
    background-image: url("https://www.manas.be/wp-content/uploads/2019/07/ecologie-solutions-825x510.jpg");
}

.category-2 {
    background-image: url("https://www.fruitdelta.nl/wp-content/uploads/2018/03/Cultuurhistorie.jpg");
}

.category-3 {
    background-image: url("https://www.1limburg.nl/sites/default/files/public/styles/media-paragraph/public/622060.jpg?itok=SrrR9vyO");
}

.category-4 {
    background-image: url("https://tvvalkenburg.tv/wp-content/uploads/2015/01/09.-September-2014-1bb1.jpg");

}

.category-5 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl0TTsgAfVIL8rh6gjfByueiiAYdzy0-qqG-IQIeoWYb2mekwI&s");

}

.category-6 {
    background-image: url("http://www.yogastudiolimburg.nl/wp-content/uploads/2016/01/DSC_0352.jpg");

}

/* 
Breakpoint for tablets, arranges the grid in rows of two
*/
@media only screen and (max-width: 60em) {

    main>section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: calc(3em + 2vw);
    }

    main>section>header {
        /* grid-column: 1 / span 3; */
        grid-column: span 3;
        grid-row: span 2;
    }

    main>section article {
        grid-column: Span 2;
    }

    main section header > h2{
        font-size: 1.5em;
    }
}

/* 
Breakpoint for smartphones, arranges the grid in a row
*/
@media only screen and (max-width: 40em) {
    main>section {
        gap: 1em 1em;
        padding-top: calc(3em + 2vw);
    }

    main>section>header {
        grid-column: 1 / span 4;
        grid-row: span 1;
    }

    main>section article {
        grid-column: span 4;
        height: 14em;

    }
    main section header > h2{
        font-size: 1.5em;
    }
}

/*  Overlay */
/* 
TODO:
[x] Hide on default, when mouseover (hover) transition from bottom to top
[x] Change background from yellow to image
[ ] Get the title text in center of the block
*/
main>section>article>.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    opacity: 0;
    padding-top: 2vh;
    transition: all 0.5s ease-in;
}

.category-title {
    display: inline-block;
    position: absolute;
    color: var(--secondary-text-color);
}

.overlay p {
    color: var(--secondary-text-color);
    padding: 1em;
    text-align: center;
    font-size: 1em;
}

.overlay h2 {
    color: var(--secondary-text-color);
    text-align: center;
}

.overlay:hover {
    /* transition: margin-bottom 2s ease-in 0.5s; */
    transition: all 0.5s ease-in;
    height: 100%;
    opacity: 1;
}

@media only screen and (max-width: 60em) {
    .overlay p{
        font-size: 1em;
    }
}

@media only screen and (max-width: 40em) {
    .overlay p{
        font-size: 1em;
    }
}

/* 
==============================
Media queries for different sizes of phones to differentiate
iPhone SE, iPhone 6s/7/8 (Plus) | iPhone X(s) Max | iPhone XR | iPhone 11/Pro MAX
1136 x 640 | 1334 x 750 | 1920 x 1080 | 2436 x 1125 | 2688 x 1242 | 1792 x 828 | 2436 x 1125 | 2688 x 1242
==============================
*/

/* Webkit that only targets iOS uses. 
    Should actually not be used.. But everything for the experiment
*/
@supports (-webkit-overflow-scrolling: touch) {
    body {
        background-color: var(--main-accent-color);
    }
}



/* Page grenslandroute */

.hero-image-small{
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-image.jpg");  */
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35)), url("../images/zoomBasisRouteJPEG.jpeg");
        /* transform: scale(1.5); */
        height: 30vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

main>header>.hero-text h1 {
    text-align: center;
    color: white;
}

.info-article{
    box-shadow: 0.025vh 0.025vw 10px 3px #022e1800;

}

main>section> .info-article {
    height: 100%;
    padding: 2vh 2vw 4vh;
}

.info-article h2{
    font-size: 2em;
    padding-bottom: 1vh;
}

@media only screen and (max-width: 40em){
    .info-article h2{
    font-size: 1.5em;
}
}

.info-article p{
    padding: 1vh 2vw;
}

main section{
    margin: 2vh 2vw;
    background-color: #FF891510;
}

.colorful{
    color: #FF8915;
    font-size: 1.3em;
    grid-column: 1 / span 2;
}

@media only screen and (max-width: 40em){
    .colorful{
        font-size: 1em;
        grid-column: 1 / span 4;
    }
}

@media only screen and (max-width: 60em) {
    .colorful{
        font-size: 1em;
        grid-column: 1 / span 4;
    }
}
#colored{
    color: var(--secondary-text-color);
    background-color: #FF8915;
    height: 60%;
}