@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:400,400i,700&display=swap');

/* Variables */
:root {
    --main-color: #ffcc00;
    --dark-mode: #030303;
    --dark-mode-text: #FFFFFF;
    --light-mode-text: #000000;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Lato', sans-serif;     */
    font-family: 'Open Sans', sans-serif;
}

/* CSS checkup for when I break anything */
body {

    /* background-color: var(--main-color); */
    /* background-color: var(--dark-mode); */
    color: var(--light-mode-text);
}

/* 
    NAVIGATION
*/

.nav-container{
    width: 100%;
}

nav{
    width: 100vw;
    margin: 0 auto;
}

.flag {
    width: 3vw;
}

/* 
    HEADER
*/
header img {
    width: 100%;
    height: 50vh;
    margin: 0 auto;
}


/* 
==============================
Media queries for different sizes of phones to differentiate
iPhone SE, iPhone 6s/7/8 (Plus) | iPhone X(s) Max | iPhone XR | iPhone 11/Pro MAX
1136 x 640 | 1334 x 750 | 1920 x 1080 | 2436 x 1125 | 2688 x 1242 | 1792 x 828 | 2436 x 1125 | 2688 x 1242
==============================
*/

/* Webkit that only targets iOS uses. 
    Should actually not be used.. But everything for the experiment
*/
@supports (-webkit-overflow-scrolling: touch) {
    body {
        background-color: #FFCC00;
    }
}