/* import for font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #f7f7f7;
    --main-accent-color: #88BC6B;
    --main-text-color: #000000;
    --secondary-text-color: #ffffff;

    --test-color: #ffcc00;


	--landschap: #88BC6B;
    --cultuur: #fd7e14;
    --vitaliteit: #940094;
    --horeca: #DC3545;
    --toerisme: #007bff;
    	/* OLD COLOURS */
    /* --cultuur: #007bff; */
    /* --vitaliteit: #fd7e14; */
    /* --horeca: #CAD410; */
    /* --toerisme: #DC3545; */


    --rgb-Landschap: 136,188,107;
    --rgb-Cultuur: 253,126,20;
    --rgb-Vitaliteit: 148,0,148;
    --rgb-Horeca: 220,53,69;
    --rgb-Toerisme: 0,123,255;
    	/* OLD COLOURS */
    /* --rgb-Cultuur: 0,123,255; */
    /* --rgb-Vitaliteit: 253,126,20; */
    /* --rgb-Horeca: 202,212,16; */
    /* --rgb-Toerisme: 220,53,69; */
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    height: 100%;
}

/* 
========================================
HEADER IMAGE
========================================
*/

.hero-image {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-image.jpg");  */
/* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35)), url("../images/zoomBasisRouteJPEG.jpeg"); */
/* background-image:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15)), url("../images/BasisroutePNGzoom.png"); */
background-image:  linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.15)), url("../images/BasisroutePNGLimburg.png");
/* background-image:url("../images/zoomBasisRouteJPEG.jpeg"); */
/* transform: scale(1.5); */
/* transform: rotate(90deg); */
    height: 85vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image h2{
    display: inline-block;
    position: absolute;
    /* color: var(--secondary-text-color); */
    color: #666666;
    padding: 1vw 1vh;
}

.hero-voeren{
    background-image: url(/images/hero-voeren.jpg);
}
.hero-eijsden{
    background-image: url(/images/hero-eijsden.jpg);
}

.hero-image > h2 {
    text-align: center;
    grid-column: 1 / span 3;
}


.wrapper {
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

.wrapper .wrapper__video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main>header>.wrapper h1 {
    text-align: center;
    position: relative;
    transform: translateY(-250%);
    -webkit-transform: translateY(-250%);
    -ms-transform: translateY(-250%);
    color: white;
}

/* 
========================================
ARRANGEMENTEN SECTION
========================================
*/
main>section {
    /* padding: 2vh 2vw 2vh calc(2em + 2vw); grid-template-rows: 10% 1fr 1fr; */
    padding: calc(2em + 2vw) 2vw 2vh 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em 2em;

}

main>section>header {
    /* grid-column: 1 / span 3; display: inline-block; */
    grid-column: 1 / span 3;
    /* height: 5em; */

}

main section header>h2 {
    font-size: 2em;
}

main>section>article {
    height: 20em;
    /* background-color: var(--test-color); */
    box-shadow: 0.025vh 0.025vw 10px 3px #022e1825;
    object-fit: scale-down;
}

/* 
=====
IMAGES HOMEPAGE
=====
*/
.category-1 {
    background-image: url("/images/img-landschap.png");
    background-size: cover;
    -webkit-box-shadow: inset 0px 41px 50px 0px rgba(0,0,0,0.12);
-moz-box-shadow: inset 0px 41px 50px 0px rgba(0,0,0,0.12);
box-shadow: inset 0px 41px 50px 0px rgba(0,0,0,0.12);

}

.category-2 {
    background-image: url("/images/img-cultuur.png");
    background-size: cover;

}

.category-3 {
    background-image: url("/images/img-vitaliteit.png");
    background-size: cover;
    -webkit-box-shadow: inset 0px 41px 50px 0px rgba(0,0,0,0.12);
-moz-box-shadow: inset 0px 41px 50px 0px rgba(0,0,0,0.12);
box-shadow: inset 0px 41px 50px 0px rgba(0,0,0,0.12);

}

.category-4 {
    background-image: url("/images/img-horeca.png");
    background-size: cover;
    -webkit-box-shadow: inset 0px 41px 50px 0px rgba(0,0,0,0.12);
-moz-box-shadow: inset 0px 41px 50px 0px rgba(0,0,0,0.12);
box-shadow: inset 0px 41px 50px 0px rgba(0,0,0,0.12);


}

.category-5 {
    background-image: url("/images/img-toerisme.png");
    background-size: cover;
    -webkit-box-shadow: inset 0px 41px 50px 0px rgba(0,0,0,0.12);
-moz-box-shadow: inset 0px 41px 50px 0px rgba(0,0,0,0.12);
box-shadow: inset 0px 41px 50px 0px rgba(0,0,0,0.12);


}

.category-6 {
    background-image: url("/images/img-evenementen.png");
    background-size: cover;
}

#grensland{
margin: 0;
background-image: opacity(0.2), url("/images/BasisroutePNGzoom.png");
/* transform: scale(0.4); */
}

/*  Overlay */
main>section>article>.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding-top: 2vh;
    transition: all 0.5s ease-in;
}

.overlay--landschap {
    background-color: var(--landschap);
}

.overlay--cultuur {
    background-color: var(--cultuur);

}

.overlay--vitaliteit {
    background-color: var(--vitaliteit);

}

.overlay--horeca {
    background-color: var(--horeca);

}

.overlay--toerisme {
    background-color: var(--toerisme);

}

.category-title {
    display: inline-block;
    position: absolute;
    color: var(--secondary-text-color);
    padding: 1vw 1vh;
}

.overlay p {
    color: var(--secondary-text-color);
    padding: 1em;
    text-align: center;
    font-size: 1em;
}

.overlay h2 {
    color: var(--secondary-text-color);
    text-align: center;
}

.overlay:hover {
    /* transition: margin-bottom 2s ease-in 0.5s; */
    transition: all 0.5s ease-in;
    height: 100%;
    opacity: 1;
}

/* Page grenslandroute */

.hero-image-small {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-image.jpg");  */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35)), url("../images/zoomBasisRouteJPEG.jpeg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35)), url("../images/BasisroutePNGLimburg.png");
    /* transform: scale(1.5); */
    /* height: 30vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main>header>.hero-text h1 {
    text-align: center;
    color: white;
}

.info-article {
    box-shadow: 0.025vh 0.025vw 10px 3px #022e1800;
    font-size: 1.1em;
}


main>section>.info-article {
    height: 100%;
    padding: 2vh 2vw 4vh;
    grid-column: 1 / span 
}

.info-article h2 {
    font-size: 2em;
    padding-bottom: 1vh;
}

.info-article p {
    padding: 1vh 2vw;
    font-size: 1em;
}

main section {
    margin: 2vh 2vw;
    background-color: #FF891510;
}

/* 
========================================
GEBIEDEN GRID SECTION
========================================
*/
.colorful {
    color: #FF8915;
    font-size: 1.1em;
    grid-column: 1 / span 2;
}

.non-colored {
    grid-column: 1 / span 2;
    font-size: 1.1em;
}

.colorful-gebieden {
    color: #8e24aa;
    /* font-size: 1.1em; */
    grid-column: 1 / span 6;
}

.title-gebieden {
    grid-column: 1 / span 6;
}

.title-gebieden sup {
    font-size: 0.5em;
    font-weight: 400;
}

#colored {
    color: var(--main-text-color);
    background-color: rgba(var(--rgb-Vitaliteit), 0.25);
    font-size: 1.1em;
}

#colored-gebieden {
    color: var(--main-text-color);
    background-color: rgba(var(--rgb-Cultuur), 0.5);
    height: 100%;
    grid-column: 1 / span 6;
}

#grid-fix-history {
    color: var(--main-text-color);
    background-color: rgba(var(--rgb-Landschap), 0.2);
    height: 100%;
    grid-column: 1 / span 2;
}

.grid-fix-eijsden {
    grid-column: 3 / span 4;
}

#grid-clear {
    grid-column: 1 / span 6;
    /* height: 20%; */
}

.gebieden-tab {
    padding: 1vw;
}

.side-by-side {
    grid-column: 2 / span 4;
}

.logo{
    /* max-width: 30vw;
    max-height: 30vh; */
    /* width: 30vw; */
    height: 30vh;
    width: auto;
    /* height: auto; */
    margin: 0.5em;
}



.logo:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.007), 0 6px 6px rgba(0,0,0,0.07);  
}

/* 
========================================
MEDIAQUERIES SECTION
========================================
*/
/* Mediaquery voor schermen tot 60em. Hero image maximale grootte inclusief grootte van de header2 */
@media only screen and (max-width: 60em){
    .hero-image{
        width: 100vw;
    }

    .hero-image > h2{
        text-align: end;
        opacity: 0.4;
        grid-column: 2 / 4;
    }
}


/* 
Breakpoint for tablets, arranges the grid in rows of two
*/
@media only screen and (max-width: 60em) {

    main>section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: calc(3em + 2vw);
    }

    main>section>header {
        /* grid-column: 1 / span 3; */
        grid-column: span 3;
        grid-row: span 2;
    }

    main>section article {
        grid-column: Span 2;
    }
}

/* 
Breakpoint for smartphones, arranges the grid in a row 
*/
@media only screen and (max-width: 40em) {
    main>section {
        gap: 1em 1em;
        padding-top: calc(3em + 2vw);
    }

    main>section>header {
        grid-column: 1 / span 4;
        grid-row: span 1;
    }

    main>section article {
        grid-column: span 4;
        height: 14em;

    }

    main section header>h2 {
        font-size: 1.5em;
    }
}

/* Mediaqueries voor schermen van 40EM, zorgt ervoor dat wanneer een index.html blok is geklikt zichtbaar wordt voor informatie inzien. */
@media only screen and (min-width: 40em) {

    .overlay:active .overlay:active {
        opacity: 1;
    }

    .overlay:active {
    /* transition: margin-bottom 2s ease-in 0.5s; */
    transition: all 0.5s ease-in;
    height: 100%;
    opacity: 1;
    }

}

/* Mediaqueries voor tot telefoons van 40EM, Deze reageren op de blokken van de index-pagina. Zodat deze ook werken op mobiel */
@media only screen and (max-width: 40em) {
    .overlay p {
        font-size: 1em;
    }

    .overlay:active {
        /* transition: margin-bottom 2s ease-in 0.5s; */
        transition: all 0.5s ease-in;
        height: 100%;
        opacity: 1;
    }
}

/* Mediaquery die slaat op schermen tot 60EM breed. Maakt de tekst van overlay 1EM */
@media only screen and (max-width: 60em) {
    .overlay p {
        font-size: 1em;
    }
}

/* Mediaquery die slaat op schermen tot 40EM breed. Maakt de header van overlay 1.5EM */
@media only screen and (max-width: 40em) {
    .info-article h2 {
        font-size: 1.5em;
    }
}

/* Mediaquery die slaat op schermen tot 40EM breed. Maakt de grid elementen 'colorful' en 'colorful-gebieden'
    De juiste grootte om het hele scherm of de helft ervan te gebruiken. */
@media only screen and (max-width: 40em) {
    .colorful {
        font-size: 1em;
        grid-column: 1 / span 4;
    }

    .colorful-gebieden {
        font-size: 1em;
        grid-column: 1 / span 2;
    }

    .non-colored {
        font-size: 1em;
    }
}

/* Mediaquery die slaat op schermen tot 60EM breed.
    Maakt de klasses info-article, colorful en ID grid-fix-history een bepaalde breedte van het gehele scherm.
*/
@media only screen and (max-width: 60em) {

    .info-article {
        grid-column: 1 / span 4;
    }

    .colorful {
        font-size: 1em;
        grid-column: 1 / span 4;
    }

    #grid-fix-history{
        grid-column: 1 / span 5;
    }
}

/* 
========================================
IFRAME FOR GOOGLE ROUTES
https://css-tricks.com/responsive-iframes/
========================================
*/
[style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {  
    height: auto;
  } 
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }  
  }