/* Variables */
:root{
    --main-color: #ffcc00;
    --dark-mode: #f2f2f2;
    --dark-mode-text: #FFFFFF;
}

/* CSS checkup for when I break anything */
body{
    font-family: 'Open Sans', sans-serif;
    /* background-color: var(--main-color); */
    background-color: var(--dark-mode);
    color: var(--dark-mode-text);
}

header > a {
    display: grid;
    grid-template-columns:min-content;
    padding:.75em .75em .75em 2.75em;
    line-height:1em;
    font-weight:bold;
    text-decoration: none;
    color: #FFCC00;
}

/* 
==============================
Media queries for different sizes of phones to differentiate
iPhone SE, iPhone 6s/7/8 (Plus) | iPhone X(s) Max | iPhone XR | iPhone 11/Pro MAX
1136 x 640 | 1334 x 750 | 1920 x 1080 | 2436 x 1125 | 2688 x 1242 | 1792 x 828 | 2436 x 1125 | 2688 x 1242
==============================
*/

/* Webkit that only iOS uses. */
@supports (-webkit-overflow-scrolling: touch) {
    body{ background-color: #FFCC00; 
    }
  }